.App{
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  outline: 2px solid #000;
  padding: 50px;
  input{
    padding-left: 100px;
    padding-bottom: 50px;
  }
  .box{
    img{
      margin-right: auto;
      margin-left: auto;
    }

    outline: 2px solid #f31010;
    display: flex;
    height: 300px;
    width: auto;
  }
}